form{

    select{
        padding: 15px;
        color: $dark_grey;
        border: none;
        border-radius: 5px;
        width: 350px;
        font-family: $paragraph;
    }

    input[type=submit]{
        width: 300px;
    }

    .row{
        padding: 2em 0;
    }
    
}