// Colours
$primary_green: #355D3A;
$dark_green: #355D3A;
$light_green: #A0B58A;
$light_grey: #EEECDF;
$dark_grey: #393738;
$grey: #757374;

// Fonts
$heading: 'Varela Round', sans-serif;
$paragraph: 'Montserrat', sans-serif;